/* Empty. Add your own CSS if you like */
.pokemon-card {
  line-height: 47px;
}
.pokemon-card .health {
  float: right;
}
.pokemon-fainted {
  opacity: 0.5;
}
.wellcome {
  text-align: center;
}
.wellcome img {
  max-width: 90%;
}
